<div class="container-fluid fondo-hotel py-4">

    <div class="form-container">

        <form [formGroup]="roomForm" (ngSubmit)="guardar()" class="hotel-form">

            <!-- HEADER -->
            <div class="form-header">
                <h2>
                    <i class="bi bi-door-open"></i> {{ idRoom ? 'Editar' : 'Registrar' }}
                </h2>
                <p>Agrega o edita los detalles de la habitación</p>
            </div>

            <!-- NUMERO -->
            <div class="form-group">
                <label><i class="bi bi-hash"></i> Número</label>
                <input type="text" formControlName="roomNumber" class="form-control" placeholder="202A">
                <span class="error-msg"
                    *ngIf="roomForm.get('roomNumber')?.touched && roomForm.get('roomNumber')?.invalid">
                    No se permiten los caracteres [!#$&/].
                </span>
            </div>

            <!-- TIPO -->
            <div class="form-group">
                <label><i class="bi bi-grid"></i> Tipo</label>
                <select formControlName="type" class="form-select">
                    <option selected>Selecciona tipo</option>
                    <option value="Individual">Individual</option>
                    <option value="Doble">Doble</option>
                    <option value="Suite">Suite</option>
                    <option value="Familiar">Familiar</option>
                </select>
                <span class="error-msg" *ngIf="roomForm.get('type')?.touched && roomForm.get('type')?.invalid">
                    Selecciona tipo de habitacion.
                </span>
            </div>

            <!-- PRECIO + CAPACIDAD -->
            <div class="row">
                <div class="col-md form-group">
                    <label><i class="bi bi-cash"></i> Precio por noche</label>
                    <input type="number" min="1" formControlName="pricePerNight" class="form-control" placeholder="800">
                    <span class="error-msg"
                        *ngIf="roomForm.get('pricePerNight')?.touched && roomForm.get('pricePerNight')?.invalid">
                        Solo se permiten cifras positivas.
                    </span>
                </div>

                <div class="col-md-6 form-group">
                    <label><i class="bi bi-people"></i> Máx. Hospedantes</label>
                    <input type="number" min="1" max="10" formControlName="maxGuests" class="form-control"
                        placeholder="10">
                    <span class="error-msg"
                        *ngIf="roomForm.get('maxGuests')?.touched && roomForm.get('maxGuests')?.invalid">
                        Solo se permiten numeros enteros positivos.
                    </span>
                </div>
            </div>

            <!-- CAPACIDAD -->
            <!--<div class="form-group">
                <label><i class="bi bi-people"></i> Máx. Hospedantes</label>
                <input type="text" formControlName="maxGuests" class="form-control" placeholder="10">
            </div>-->

            <!-- DESCRIPCIÓN -->
            <div class="form-group">
                <label><i class="bi bi-card-text"></i> Descripción</label>
                <textarea formControlName="description" class="form-control" rows="3"
                    placeholder="Ingresa descripcion"></textarea>
                <span class="error-msg"
                    *ngIf="roomForm.get('description')?.touched && roomForm.get('description')?.invalid">
                    Campo requerido.
                </span>
            </div>

            <div class="d-flex justify-content-between mt-4">

                <!-- BOTÓN REGRESAR -->
                <button type="button" class="btn btn-back mt-4" [routerLink]="['/rooms']">
                    <i class="bi bi-arrow-left"></i> Regresar
                </button>

                <!-- BOTON GUARDAR -->
                <div class="text-end mt-4">
                    <button class="btn btn-hotel" [disabled]="roomForm.invalid">
                        <i class="bi bi-check-lg"></i> Guardar
                    </button>
                </div>
            </div>

        </form>

    </div>

</div>